<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Actually, this game works fine on small screens, but the only one out
right now has no 3D acceleration, so it's slow and unplayable. -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false" />

    <application
		android:allowBackup="true"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
		tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainMenuActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
			android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="AndouKun"
            android:configChanges="keyboardHidden|orientation"
			android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name="LevelSelectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />

        <activity
            android:name="ConversationDialogActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.ConversationDialog" />

        <activity
            android:name="DiaryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />


        <activity
            android:name="SetPreferencesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />

        <activity
            android:name="AnimationPlayerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />

        <activity
            android:name="ExtrasMenuActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />

        <activity
            android:name="DifficultyMenuActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />

        <activity
            android:name="GameOverActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />


    </application>


    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>  -->


</manifest> 

